
.everything {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; 
}

.tutorcard {
  margin-top: 6vw;
  margin-left: 20vw;
  margin-bottom: 20px; 
}

.swiping {
  display: flex;
  justify-content:space-between ;
  padding-right: 17vw;
  margin-top: -17vw;
  margin-left: 3vw;
  margin-bottom: 20px; 

}

.swiping img {
  height: 5vw;
  width: 5vw;
}

