.tutorcard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-grow: 1; /* Let tutorcard grow to take available space */
}

.swiping {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0 20px; /* Add some padding for spacing */
}

.nobutt img {
  width: 5vw;
  height: 5vw;
}

.yesbutt img {
  width: 5vw;
  height: 5vw;
}