.leftside {
    display:flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
}

.rightside {
    display:flex;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-direction: column;
    background: rgb(205, 233, 242);
    overflow: hidden;
}